{% extends 'base.html' %}
{% block event_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Events -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Events</h3>
        </div>
        {% if events %}
            {% for event in events %}
                <div class="col-sm-4 col-lg-4">
                    <div class="thumbnail">
                        <a href="{% url 'Event:detail' event.id %}">
                            <img src="{{ event.event_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ event.title }}</h2>
                            <h4>{{ event.detail }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'Event:detail' event.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            
                            <!-- View Details -->
                            <a href="{% url 'Event:update_event' event.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>


                            <!-- Delete Album -->
                            <form action="{% url 'Event:delete_event' event.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{ event.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Event -->
                            <a href="{% url 'Event:favorite_event' event.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if event.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'Event:create_event' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Event
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are Events -->
    {% if event %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Events</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Event Title</th>
                                    <th>Event Type</th>
                                    <th>Detail</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ event.title }}</td>
                                        <td>{{ event.event_type }}</td>
                                        <td>{{ event.detail }}</td>
                                        <td>
                                            <a href="{% url 'Event:favorite' event.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if event.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
